<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Encrypt Configuration File</title>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css} " />
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap"
	rel="stylesheet" />

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<script>
	$(document).ready(function() {
		$('#btnUploadFile').attr("disabled", true);
		$("#customFile").change(function() {
			var fileName = $(this).val().replace(/C:\\fakepath\\/i, '');

			var ext = fileName.split('.').pop().toLowerCase();
			if (ext == 'json') {
				$("#customFileHolder").val(fileName);
				$('#btnUploadFile').removeAttr("disabled");
			}
		});

	});
</script>

</head>
<body>
	<header>
		<div class="hero-text-box">
			<h1>Upload config.json and download the encrypted file&hellip;</h1>
			<div class="form-container">
				<form method="post" action="encrypt/file" class="file-upload-form"
					enctype="multipart/form-data">
					<div class="file-row row">
						<div class="row text-left">
							<div class="col input-group">
								<label class="input-group-btn"> <span
									class="btn btn-primary"> Browse&hellip; <input
										type="file" name="file" accept=".json" id="customFile"
										style="display: none;" />
								</span>
								</label> <input type="text" class="form-control" id="customFileHolder"
									readonly />
								<div class="submit-button">
									<input type="submit" value="Encrypt" class="btn btn-danger">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div th:if="${errorMessage}">
				<div th:text="${errorMessage}"></div>
			</div>
		</div>

	</header>

</body>
</html>